:root {
    --black: #000000;
    --white: #ffffff;
    --off-white: #f8f8f8;
    --border-color: #efefef;
    --muted: #78849b;
    --primary: #94618e;
    --primary-light: #94618e;
    --secondary: #211620;
    --secondary-light: #315f72;
    --danger: #e81a46;
    --danger-light: #ed4b71;
    --success: #6ca329;
    --success-light: #79b530;
    --info: #07a8ff;
    --info-light: #5fc5ff;
    --warning: #ffa000;
    --warning-light: #ffb448;
    --dark: #211620;
    --dark-light: #122e67;
    --light: #dae0e5;
    --light-light: #d3d9df;
    --facebook: #3b5998;
    --twitter: #00acee;
    --instagram: #dd2a7b;
    --google: #F4B400;
    --rating: #ffca2b;
    --price: #ff6b50;
    --light-bg: #fbf2f2;
    --txt: #78849b;
    --title-color: #211620;
}