<!DOCTYPE html>
<head>
    <title>用户信息</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!--Start Style -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/icofont.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
	<link rel="stylesheet" id="theme-change" type="text/css" href="#">
    <!-- Favicon Link -->
    <link rel="shortcut icon" type="image/png" href="/static/assets/images/favicon.png">
</head>

<body>
    {{ template "base/nav.html" . }}
	<div class="loader">
	  <div class="spinner">
		<img src="/static/assets/images/loader.gif" alt=""/>
	  </div> 
	</div>
    <!-- Script Start -->
	<script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
	<script src="/static/assets/js/swiper.min.js"></script>
    <script src="/static/assets/js/apexchart/apexcharts.min.js"></script>
    <script src="/static/assets/js/apexchart/control-chart-apexcharts.js"></script>
	<!-- Page Specific -->
    <script src="/static/assets/js/nice-select.min.js"></script>
    <!-- Custom Script -->
    <script src="/static/assets/js/custom.js"></script>
</body>

</html>
